@using Veiculos.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "RegistroVenda";
}

<h2>RegistroVenda</h2>

<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <section id="RegistroVendaForm">

            </section>
        </div>
    </div>
</div>